*{
    margin: 0;
    padding: 0;
}
.image1{
    width: 100%;
    height: 800px;
    background: url(01.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.image2{
    width: 100%;
    height: 800px;
    background: url(02.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.image3{
    width: 100%;
    height: 800px;
    background: url(03.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.space{
    width: 100%;
    height: 250px;
    background: white;
}